.nav_bar{
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	justify-content:center;
	align-content:center;
}



.container{
	display: grid;
	grid-template-columns: 1.2fr 1.4fr 1.2fr;
	grid-template-rows:300px;
	grid-gap:58px;
	justify-content:center;
	align-content:center;

}

.container_top{
	display: grid;
	grid-template-columns: 1.1fr 1.2fr 1.1fr;
	grid-template-rows:290px;
	grid-gap:85px;
	justify-content:center;
	align-content:center;

}

.footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:10%;
}